<ion-header>
  <ion-navbar>
    <ion-title>Востановление</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
  <div class="bg-login vertical">

    <div class="vertical-center">

      <div class="form-content">

        <div class="logo"><span>Город</span> Легенд</div>
        <form [formGroup]="checkForm" *ngIf="step == 1 || step == 2">
          <div class="form-group phone">
            <span><ion-icon name="call"></ion-icon></span>
            <div class="seven"><div>+7</div></div>
            <ion-input type="number" placeholder="" autocomplete="off" [readonly]="step != 1" formControlName="login" [autocomplete]="off" [(ngModel)]="userData.login"></ion-input>
          </div>
          <div class="form-group">
            <span><ion-icon name="card"></ion-icon></span>
            <ion-input type="number" placeholder="Номер карты" autocomplete="off" [readonly]="step != 1" formControlName="card" [autocomplete]="off" [(ngModel)]="userData.card"></ion-input>
          </div>
        </form>
        <form [formGroup]="checkCodeForm" *ngIf="step == 2">
          <div class="form-group">
            <span><ion-icon name="lock"></ion-icon></span>
            <ion-input type="number" placeholder="Код" autocomplete="off" formControlName="key" [autocomplete]="off" [(ngModel)]="userData.key"></ion-input>
          </div>
        </form>

        <form [formGroup]="passwordForm" *ngIf="step == 3">
          <div class="form-group">
            <span><ion-icon name="lock"></ion-icon></span>
            <ion-input type="password" placeholder="Пароль" autocomplete="off" formControlName="password" [autocomplete]="off" [(ngModel)]="userData.password"></ion-input>
          </div>
          <div class="form-group">
            <span><ion-icon name="lock"></ion-icon></span>
            <ion-input type="password" placeholder="Повторите пароль" autocomplete="off" formControlName="confirm_password" [autocomplete]="off" [(ngModel)]="userData.confirm_password"></ion-input>
          </div>
        </form>


        <div class="form-footer">
          <a class="link" (click)="back()" *ngIf="step != 1">Начать заново</a>
          <button (click)="restore()" [disabled]="(!checkForm.valid && step == 1) || ((!checkForm.valid || !checkCodeForm.valid) && step == 2) || ((!checkForm.valid || !passwordForm.valid) && step == 3)">Восстановить</button>
        </div>

      </div>
    </div>
  </div>
</ion-content>
