// Roboto Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html

$roboto-font-path: $font-path !default;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("#{$roboto-font-path}/RobotoLight.woff2") format("woff2"), url("#{$roboto-font-path}/RobotoLight.woff") format("woff"), url("#{$roboto-font-path}/RobotoLight.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("#{$roboto-font-path}/RobotoRegular.woff2") format("woff2"), url("#{$roboto-font-path}/RobotoRegular.woff") format("woff"), url("#{$roboto-font-path}/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("#{$roboto-font-path}/RobotoMedium.woff2") format("woff2"), url("#{$roboto-font-path}/RobotoMedium.woff") format("woff"), url("#{$roboto-font-path}/RobotoMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("#{$roboto-font-path}/RobotoBold.woff2") format("woff2"), url("#{$roboto-font-path}/RobotoBold.woff") format("woff"), url("#{$roboto-font-path}/RobotoBold.ttf") format("truetype");
}
