buy-staff-item{
  .head {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: top;
    width: 100%;
    justify-content: center;
    display: flex;
    &:after {
      content: '';
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      background: rgba(255,255,255,0.5);
    }
    .ava {
      z-index: 1;
      height: 160px;
      width: 160px;
      background-size: cover;
      border-radius: 80px;
      float: left;
      position: absolute;
      bottom: 20px;
      border: solid 1px #444444;
      box-shadow: 0px 0px 25px 4px rgba(255,255,255,0.5);
    }

  }
  .sert-content {
    position: relative;
    z-index: 2;
    min-height: 100%;
    >.title {
      background: #eee;
      color: #488aff;
      padding: 10px 20px;
      h2{
        margin: 0;
        color: #444444;
      }
    }
    .text {
      padding: 10px 20px;
      font-size: 15px;
      color: #54585C;
      line-height: 22px;
      background: #fff;
      .textarea-block{
        margin-top: 10px;
        border-top: solid 1px #dfdfdf;
        textarea{
          margin: 10px 0;
        }
      }
    }

  }
}
