
buys-item-info {

  .head {
    position: relative;
    height: 100px;
    background-size: cover;
    background-position: center;
    width: 100%;
    &:after {
      content: '';
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      background: rgba(0,0,0,0.7);
    }
    >div {
      z-index: 1;
      position: absolute;
      bottom: 10px;
      left: 10px;
      .ava {
        height: 70px;
        width: 70px;
        background-size: cover;
        border-radius: 50px;
        float: left;
        position: absolute;
        bottom: 0;
      }
      >.title {
        position: relative;
        padding-left: 80px;
        padding-right: 20px;
        left: 0;
        color: #fff;
        width: 100%;
        font-size: 25px;
        line-height: 25px;
        font-weight: 500;
        span {
          display: inline-block;
          font-weight: 500;
          background: rgba(63,136,249,0.75);
          color: #fff;
          padding: 2px 7px;
          border-radius: 2px;
          text-transform: uppercase;
          font-size: 11px;
          height: 18px;
          line-height: 15px;
        }
      }
    }

  }
  .sert-content {
    position: relative;
    z-index: 2;
    min-height: 100%;
    >.title {
      background: #eee;
      padding: 10px 20px;

      .item-history {
        display: block;
        position: relative;
        color: #488aff;
        .date {
          font-size: 12px;
          color: #636363;
        }
        .name {
          text-transform: uppercase;
          color: #000;
          font-size: 12px;
          margin: 5px 0;
          font-weight: 500;
          letter-spacing: 0.5px;
        }
        .result {
          font-size: 20px;
          font-weight: 300;
          span{
            color: #444444;
            font-size: 14px;
          }
        }

        .sale {
          border-top: solid 1px #dfdfdf;
          padding-top: 10px;
          margin-top: 10px;
          position: relative;
          font-size: 30px;
          font-weight: 300;
          text-align: left;
          .small-bonus-block {
            position: relative;
            font-size: 14px;
            .small-bonus{
              margin-bottom: 5px;
              position: relative;
              color: #444444;
              display: block;
              &:last-child{
                margin-bottom: 0;
              }
              span{
                position: absolute;
                right: 0;
                top: 0;
              }
            }
          }
          .minus{
            color: #ca2e2e;
          }
          .plus{
            color: #44A330;
          }
          .number {
            position: relative;
            text-align: left;
            &.bonus{
              margin-top: 5px;
              padding-top: 5px;
              border-top: solid 1px #dfdfdf;
              > div{
                top: 5px;
              }
            }
            > div{
              position: absolute;
              right: 0;
              top: 0;
              display: flex;
              justify-content: flex-end;
            }
            .bonus_summ_abs{
              display: inline-block;
            }
            small {
              font-size: 30px;
              text-transform: uppercase;
              font-weight: 300;
              text-align: right;
              width: 30px;
            }
            span {
              line-height: 39px;
              display: block;
              font-size: 14px;
              color: #444444;
            }
          }
        }

      }
    }
    .text {
      padding: 10px 20px;
      font-size: 15px;
      color: #54585C;
      line-height: 22px;
      background: #fff;
      .textarea-block{
        margin-top: 10px;
        border-top: solid 1px #dfdfdf;
        textarea{
          margin: 10px 0;
        }
      }
      h3{
        margin: 10px 0 0;
        font-size: 18px;
      }
    }

  }


}
