<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{header}}</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>

  <div *ngIf="typeInfo">

    <div class="pro-content">
      <div class="item-history">
        <div class="img" [ngStyle]="{'background-image': 'url('+ typeInfo.logo +')'}"></div>
        <div class="info">
          <div class="result">
            <small>Комиссия:</small>
            {{typeInfo.commission}}%
          </div>
          <div class="result">
            <small>Мин. сумма:</small>
            {{typeInfo.start_price}} Руб.
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="checkForm">
    <ion-list>

      <ion-item>
        <ion-label stacked>{{typeInfo.field_name}}</ion-label>
        <ion-input type="text" placeholder="{{typeInfo.field_placeholder}}"
                   [class.invalid]="!checkForm.controls.number.valid && (checkForm.controls.number.dirty)"
                   formControlName="number" [(ngModel)]="paymentData.number"></ion-input>
      </ion-item>
      <ion-item *ngIf="!checkForm.controls.number.valid && !checkForm.controls.number.pending && (checkForm.controls.number.dirty)">
        <p>Длина от 10 до 32 символов</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Имя</ion-label>
        <ion-input type="text" placeholder="Иван" formControlName="name"
                   [class.invalid]="!checkForm.controls.name.valid && (checkForm.controls.name.dirty)"
                   [(ngModel)]="paymentData.name"></ion-input>
      </ion-item>
      <ion-item *ngIf="!checkForm.controls.name.valid && !checkForm.controls.name.pending && (checkForm.controls.name.dirty)">
        <p>Имя от 3 до 32 символов</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Фамилия</ion-label>
        <ion-input type="text" placeholder="Петров" formControlName="surname"
                   [class.invalid]="!checkForm.controls.surname.valid && (checkForm.controls.surname.dirty)"
                   [(ngModel)]="paymentData.surname"></ion-input>
      </ion-item>
      <ion-item *ngIf="!checkForm.controls.surname.valid && !checkForm.controls.surname.pending && (checkForm.controls.surname.dirty)">
        <p>Фамилия от 3 до 32 символов</p>
      </ion-item>
    </ion-list>
    <div padding>

      <button ion-button block (click)="submitPayment()"
              [disabled]="!checkForm.valid">
        Создать
      </button>
    </div>
    </form>
  </div>

</ion-content>
